<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تفریحی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم به پیشبینی دلیل سفر کاربران بپردازیم. برخی از کاربران مستربلیط به دلیل کاری و برخی دیگر به دلایل تفریحی به سفر می‌روند. به منظور شخصی‌سازی بیشتر و دقیق‌تر، مستربلیط قصد دارد بداند هر بلیط به چه دلیلی رزرو می‌شود.
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که تفریحی یا کاری بودن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [2]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>TripReason</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از دادگان آموزشی را به عنوان دادگان اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [3]:
train_data = pd.read_csv('../data/train_data.csv')
train_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,NaN,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,NaN,False,Work,Plane,0,NaN,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,NaN,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,NaN,False,Int,Plane,0,NaN,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,NaN,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,Work,Bus,0,NaN,NaN,323657282999,667640412
3,2022-06-25 11:32:53.980,NaN,2022-06-26 08:30:00,37957585,2867547.0,2,NaN,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,NaN,Int,Train,0,NaN,NaN,169459057632,392476186
4,2022-06-01 11:30:53.633,NaN,2022-06-02 23:00:00,37584530,7212559.0,3,NaN,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,NaN,NaN,408595008421,79497837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-06-01 00:20:14.280,NaN,2022-06-04 12:10:00,37579327,1050781.0,5,NaN,True,5900000.0,0.0,...,1,بوئینگ 737,False,Int,Plane,0,NaN,NaN,605105141718,103215806
101013,2022-10-29 20:54:31.330,NaN,2022-11-01 15:30:00,39789479,3085407.0,2,403095.0,True,926500.0,0.0,...,1,4 ستاره اتوبوسي نگين,NaN,Work,Train,0,NaN,NaN,414997568556,193262890
101014,2022-09-03 17:57:22.067,NaN,2022-09-13 09:30:00,38991563,2322052.0,5,528307.0,True,30000000.0,0.0,...,0,NaN,False,Int,InternationalPlane,0,47b8f2d9b5de7e0e0e7234c18a1aa0c4b35798e6cb46b4...,a4dcb7941ee3c8f7b1fc6a171015692bc961d65a84ad47...,99460830937,34732401
101015,2022-09-29 13:15:51.303,NaN,2022-09-29 17:30:00,39406503,7664730.0,3,797946.0,True,980000.0,0.0,...,1,25 نفره (VIP),True,Work,Bus,0,NaN,718bc52c3e88520531463b385998a1193e2821d518b60b...,487489926847,458338866
101016,2022-03-31 13:29:11.530,NaN,2022-04-05 17:10:00,36742809,2711094.0,2,NaN,True,3168000.0,0.0,...,1,4 ستاره 4 تخته ارگ,NaN,Work,Train,0,NaN,da0821178342aeaab37bb1e44c162660c7d3196ae2f987...,146462381941,999949622

In [3]:
test_data = pd.read_csv('../data/test_data.csv')
test_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,To,Domestic,VehicleType,VehicleClass,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-22 12:52:35.293,NaN,2022-08-03 17:00:00,38372770,7429183.0,3,NaN,False,1220000.0,0.0,...,اصفهان,1,ماهانVIP مانیتوردار کاوه,True,Bus,0,NaN,7ec2bc45a1a56014c60beb9e6ae72e748563f270b5961e...,855578545022,752371627
1,2022-05-16 10:55:29.397,2022-05-18 11:35:15.643,2022-05-19 17:00:00,37348034,7147402.0,5,NaN,True,2830000.0,0.0,...,قم,1,VIP 2+1 / سیستم تهویه مطبوع / تخت شو,True,Bus,1,NaN,09731a27ab7323fa8a65a5d61a6f6cdf5b127a5d89d1af...,687891042993,926996211
2,2022-02-13 16:10:33.870,NaN,2022-02-15 22:45:00,36058084,6817410.0,3,NaN,True,1480000.0,0.0,...,اردبیل,1,25 نفره (VIP),True,Bus,0,NaN,NaN,515831406373,890191812
3,2022-05-01 17:56:18.530,NaN,2022-05-06 14:30:00,37140430,7093047.0,3,NaN,False,2450000.0,0.0,...,شیراز,1,Scania VIP 2+1,True,Bus,0,NaN,NaN,349742111820,941450742
4,2022-05-19 18:40:48.760,NaN,2022-05-21 12:30:00,37393459,2789874.0,2,135424.0,True,1965500.0,0.0,...,تهران,1,3 ستاره 6 تخته كوير,NaN,Train,0,NaN,a9b7344fa6dffcd85117f3b4209a379600a66019dbfb57...,63387630789,575541645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43288,2022-10-06 16:57:16.053,NaN,2022-10-07 21:00:00,39515216,7693401.0,3,NaN,True,800000.0,0.0,...,زاهدان,1,classicus 2+2,True,Bus,0,NaN,084471d0e58161bf494c8d540208e17d2b3cb0ea3eff70...,793972140866,560495589
43289,2022-06-14 13:19:26.413,NaN,2022-06-18 07:15:00,37773311,1055789.0,5,NaN,False,7827000.0,0.0,...,تهران,1,NaN,False,Plane,0,NaN,NaN,574095530769,194295556
43290,2022-10-23 15:48:03.947,NaN,2022-10-23 20:25:00,39714891,7747506.0,3,NaN,False,370000.0,0.0,...,قم,1,مارال تک صندلی ۳۰نفره,True,Bus,0,NaN,NaN,82614935547,704290882
43291,2022-09-18 21:18:01.730,2022-09-19 15:40:44.707,2022-09-20 20:00:00,39215621,7620724.0,5,950877.0,True,2520000.0,0.0,...,مسجدسلیمان,1,VIP 2+1 / شارژر یو اس بی / سیستم تهویه مطبوع ...,True,Bus,1,NaN,57f1cffdba91d23d66f923c5defcd40caa8d317f8bcfbc...,242545550300,513968890
43292,2022-07-27 22:08:17.510,2022-07-30 19:19:29.357,2022-08-03 21:00:00,38449571,7451530.0,5,633165.0,True,2150000.0,0.0,...,تهران,1,VIP درسا مانیتوردار با پک بهداشتی,True,Bus,1,NaN,NaN,965279078669,20749399

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [4]:
# do some preprocessing 
import jdatetime
train_data['DepartureTime'] = pd.to_datetime(train_data['DepartureTime'])
test_data['DepartureTime'] = pd.to_datetime(test_data['DepartureTime'])

train_data['DepartureTime'] = train_data['DepartureTime'].apply(lambda x: jdatetime.date.fromgregorian(date=x))
test_data['DepartureTime'] = test_data['DepartureTime'].apply(lambda x: jdatetime.date.fromgregorian(date=x))

train_data['month'] = train_data['DepartureTime'].apply(lambda x: x.month)
test_data['month'] = test_data['DepartureTime'].apply(lambda x: x.month)

train_data['weekend'] = train_data['DepartureTime'].apply(lambda x: x.weekday())
test_data['weekend'] = test_data['DepartureTime'].apply(lambda x: x.weekday())

train_data['weekend'] = train_data['weekend'].apply(lambda x: x in [4, 5])
test_data['weekend'] = test_data['weekend'].apply(lambda x: x in [4, 5])

train_data.drop(columns= ['CancelTime', 'BillID', 'TicketID', 'UserID', 'HashPassportNumber_p', 'HashEmail', 
                          'BuyerMobile', 'NationalCode', 'VehicleType', 'Created', 'DepartureTime'], inplace= True)
test_data.drop(columns= ['CancelTime', 'BillID', 'TicketID', 'UserID', 'HashPassportNumber_p', 'HashEmail', 
                          'BuyerMobile', 'NationalCode', 'VehicleType', 'Created', 'DepartureTime'], inplace= True)

In [9]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(train_data, test_size= 0.15, random_state= 42, stratify= train_data['TripReason'])
X_val = val.drop(columns= 'TripReason')
Y_val = val['TripReason']

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    بر خلاف سایر تمرین‌های کالج، در این تمرین شما مجاز هستید از هر مدلی که آموخته‌اید استفاده کنید. به عبارت بهتر، هدف این سوال پیش‌بینی هرچه بهتر متغیر هدف مسئله است. انتظار ما این است که نحوه کار با کتابخانه‌های یادگیری ماشین را در حدی آموخته باشید که بتوانید با بهترین عملکرد، مسئله را حل کنید!
</font>
</p>

In [6]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 17.0.12+8-LTS-286, mixed mode, sharing)
  Starting server from C:\Users\user\Desktop\python\machine learning\qenv\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\user\AppData\Local\Temp\tmpl9q7322b
  JVM stdout: C:\Users\user\AppData\Local\Temp\tmpl9q7322b\h2o_user_started_from_python.out
  JVM stderr: C:\Users\user\AppData\Local\Temp\tmpl9q7322b\h2o_user_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is too old (2 years, 1 month and 15 days)!Please download and install the latest version from http://h2o.ai/download/

--------------------------  --------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Asia/Tehran
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.4
H2O_cluster_version_age:    2 years, 1 month and 15 days !!!
H2O_cluster_name:           H2O_from_python_user_s295ez
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.969 Gb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.12 final
--------------------------  --------------------------------

In [7]:
# modeling 
from h2o.estimators import H2ORandomForestEstimator
train_h2o = h2o.H2OFrame(train)
target = 'TripReason'
X = train.columns.to_list()
X.remove(target)
model = H2ORandomForestEstimator(
    ntrees=100,
    max_depth=20,
    min_rows=5,
    sample_rate=0.4,
    nfolds=5,
    balance_classes= True
)

model.train(x= X, y= target, training_frame= train_h2o)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
drf Model Build progress: |██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  DRF_model_python_1726673866012_1


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,100.0,100.0,4898136.0,20.0,20.0,20.0,1137.0,2459.0,1866.52

ModelMetricsBinomial: drf
** Reported on train data. **

MSE: 0.15101418869123626
RMSE: 0.3886054408924768
LogLoss: 0.4662436036921955
Mean Per-Class Error: 0.21746230790408566
AUC: 0.8665763036016586
AUCPR: 0.8609216854353509
Gini: 0.7331526072033172

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.49595717076896717:

              Int     Work   Error                Rate
0    Int  34089.0  13957.0  0.2905   (13957.0/48046.0)
1   Work   6930.0  41051.0  0.1444    (6930.0/47981.0)
2  Total  41019.0  55008.0  0.2175   (20887.0/96027.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.495957      0.797192  210.0
1                        max f2   0.265639      0.867690  298.0
2                  max f0point5   0.688604      0.800710  138.0
3                  max accuracy   0.599801      0.789257  173.0
4                 max precision   0.987316      1.000000    0.0
5                    max recall   0.026527      1.000000  397.0
6               max specificity   0.987316      1.000000    0.0
7              max absolute_mcc   0.599801      0.578589  173.0
8    max min_per_class_accuracy   0.589873      0.788208  177.0
9   max mean_per_class_accuracy   0.599801      0.789251  173.0
10                      max tns   0.987316  48046.000000    0.0
11                      max fns   0.987316  47953.000000    0.0
12                      max fps   0.016565  48046.000000  399.0
13                      max tps   0.026527  47981.000000  397.0
14                      max tnr   0.987316      1.000000    0.0
15                      max fnr   0.987316      0.999416    0.0
16                      max fpr   0.016565      1.000000  399.0
17                      max tpr   0.026527      1.000000  397.0

Gains/Lift Table: Avg response rate: 49.97 %, avg score: 53.97 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010008,0.959951,1.955538,1.955538,0.977107,0.968289,0.977107,0.968289,0.019570,0.019570,95.553805,95.553805,0.019112
1,2,0.020005,0.949969,1.955490,1.955514,0.977083,0.954837,0.977095,0.961567,0.019549,0.039120,95.549032,95.551420,0.038204
2,3,0.030002,0.941577,1.936728,1.949254,0.967708,0.945636,0.973967,0.956258,0.019362,0.058481,93.672762,94.925418,0.056920
3,4,0.040010,0.934134,1.911804,1.939887,0.955255,0.937825,0.969287,0.951648,0.019133,0.077614,91.180397,93.988676,0.075158
4,5,0.050007,0.927266,1.928389,1.937588,0.963542,0.930692,0.968138,0.947458,0.019278,0.096893,92.838865,93.758809,0.093708
5,6,0.100003,0.896105,1.875046,1.906320,0.936888,0.911354,0.952515,0.929408,0.093745,0.190638,87.504550,90.632005,0.181147
6,7,0.149999,0.870535,1.802512,1.871720,0.900646,0.883350,0.935226,0.914056,0.090119,0.280757,80.251150,87.171961,0.261338
7,8,0.200006,0.844353,1.728367,1.835878,0.863599,0.858062,0.917318,0.900056,0.086430,0.367187,72.836692,83.587770,0.334135
8,9,0.299999,0.777912,1.627638,1.766469,0.813268,0.811557,0.882637,0.870559,0.162752,0.529939,62.763787,76.646925,0.459569
9,10,0.400002,0.694707,1.424478,1.680969,0.711757,0.738269,0.839916,0.837485,0.142452,0.672391,42.447770,68.096913,0.544410
10,11,0.500005,0.587719,1.170635,1.578900,0.584921,0.643728,0.788916,0.798733,0.117067,0.789458,17.063515,57.890021,0.578515
11,12,0.599998,0.454249,0.850399,1.457492,0.424911,0.523360,0.728253,0.752841,0.085034,0.874492,-14.960142,45.749170,0.548617
12,13,0.700001,0.312401,0.586672,1.333085,0.293138,0.377871,0.666091,0.699272,0.058669,0.933161,-41.332776,33.308522,0.466005
13,14,0.799994,0.198685,0.367672,1.212416,0.183712,0.252688,0.605798,0.643453,0.036765,0.969926,-63.232767,21.241646,0.339634
14,15,0.899997,0.125690,0.197364,1.099629,0.098615,0.159471,0.549442,0.589675,0.019737,0.989663,-80.263637,9.962890,0.179210
15,16,1.000000,0.008586,0.103371,1.000000,0.051651,0.090359,0.499662,0.539742,0.010337,1.000000,-89.662898,0.000000,0.000000

ModelMetricsBinomial: drf
** Reported on cross-validation data. **

MSE: 0.1528267434673355
RMSE: 0.39093061208779173
LogLoss: 0.4720088234965263
Mean Per-Class Error: 0.23452369398371548
AUC: 0.854372036567284
AUCPR: 0.8690470527939503
Gini: 0.708744073134568

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4478767789814239:

              Int     Work   Error                Rate
0    Int  24710.0  13173.0  0.3477   (13173.0/37883.0)
1   Work   5821.0  42160.0  0.1213    (5821.0/47981.0)
2  Total  30531.0  55333.0  0.2212   (18994.0/85864.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.447877      0.816153  234.0
1                        max f2   0.226853      0.885820  315.0
2                  max f0point5   0.672235      0.810847  147.0
3                  max accuracy   0.520053      0.783367  209.0
4                 max precision   0.986107      1.000000    0.0
5                    max recall   0.019637      1.000000  398.0
6               max specificity   0.986107      1.000000    0.0
7              max absolute_mcc   0.520053      0.558333  209.0
8    max min_per_class_accuracy   0.601243      0.776179  178.0
9   max mean_per_class_accuracy   0.571160      0.778409  189.0
10                      max tns   0.986107  37883.000000    0.0
11                      max fns   0.986107  47965.000000    0.0
12                      max fps   0.013702  37883.000000  399.0
13                      max tps   0.019637  47981.000000  398.0
14                      max tnr   0.986107      1.000000    0.0
15                      max fnr   0.986107      0.999667    0.0
16                      max fpr   0.013702      1.000000  399.0
17                      max tpr   0.019637      1.000000  398.0

Gains/Lift Table: Avg response rate: 55.88 %, avg score: 56.65 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010004,0.960677,1.741626,1.741626,0.973225,0.967929,0.973225,0.967929,0.017424,0.017424,74.162614,74.162614,0.016816
1,2,0.020008,0.951943,1.733293,1.737460,0.968568,0.956077,0.970896,0.962003,0.017340,0.034764,73.329300,73.745957,0.033444
2,3,0.030001,0.944316,1.704027,1.726324,0.952214,0.948112,0.964674,0.957376,0.017028,0.051791,70.402746,72.632419,0.049389
3,4,0.040028,0.937064,1.691855,1.717689,0.945412,0.940316,0.959849,0.953103,0.016965,0.068756,69.185475,71.768928,0.065114
4,5,0.050068,0.931621,1.698196,1.713781,0.948956,0.934106,0.957665,0.949294,0.017048,0.085805,69.819618,71.378068,0.081001
5,6,0.100007,0.903171,1.671018,1.692427,0.933769,0.917257,0.945732,0.933296,0.083450,0.169254,67.101794,69.242670,0.156953
6,7,0.150005,0.878272,1.617799,1.667553,0.904030,0.890391,0.931832,0.918996,0.080886,0.250141,61.779905,66.755275,0.226964
7,8,0.200026,0.855364,1.579547,1.645545,0.882654,0.866784,0.919534,0.905939,0.079010,0.329151,57.954658,64.554480,0.292670
8,9,0.300021,0.798838,1.515254,1.602119,0.846727,0.828435,0.895268,0.880107,0.151518,0.480669,51.525368,60.211949,0.409450
9,10,0.400005,0.728304,1.403284,1.552419,0.784158,0.765040,0.867495,0.851345,0.140306,0.620975,40.328418,55.241934,0.500842
10,11,0.500012,0.638646,1.211437,1.484220,0.676954,0.684060,0.829385,0.817887,0.121152,0.742127,21.143657,48.421961,0.548769
11,12,0.599995,0.514163,1.006396,1.404595,0.562376,0.578062,0.784891,0.777922,0.100623,0.842750,0.639572,40.459466,0.550218
12,13,0.700002,0.355411,0.727737,1.307894,0.406661,0.436053,0.730854,0.729080,0.072779,0.915529,-27.226277,30.789431,0.488504
13,14,0.799998,0.225912,0.467082,1.202797,0.261006,0.289616,0.672126,0.674150,0.046706,0.962235,-53.291836,20.279732,0.367720
14,15,0.899993,0.135480,0.255321,1.097526,0.142674,0.177142,0.613300,0.618929,0.025531,0.987766,-74.467871,9.752629,0.198943
15,16,1.000000,0.008873,0.122332,1.000000,0.068359,0.094673,0.558802,0.566500,0.012234,1.000000,-87.766846,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.779460,0.004853,0.783436,0.774609,0.785428,0.775145,0.778681
1,auc,0.854418,0.002470,0.855932,0.851865,0.857448,0.851934,0.854913
2,err,0.220540,0.004853,0.216564,0.225391,0.214572,0.224855,0.221319
3,err_count,3787.600000,107.234790,3755.000000,3904.000000,3640.000000,3881.000000,3758.000000
4,f0point5,0.783246,0.006344,0.789548,0.777702,0.789732,0.776289,0.782959
5,f1,0.816812,0.001868,0.817639,0.815169,0.818345,0.818450,0.814456
6,f2,0.853478,0.007538,0.847802,0.856429,0.849109,0.865453,0.848595
7,lift_top_group,1.740112,0.028917,1.780005,1.702680,1.748997,1.724221,1.744656
8,logloss,0.472000,0.002462,0.469798,0.475142,0.469385,0.473638,0.472036
9,max_per_class_error,0.347926,0.028017,0.325059,0.368034,0.321192,0.385728,0.339618
10,mcc,0.552405,0.009487,0.559306,0.542507,0.564720,0.544633,0.550857
11,mean_per_class_accuracy,0.765972,0.007781,0.772060,0.759152,0.774872,0.757090,0.766686
12,mean_per_class_error,0.234028,0.007781,0.227940,0.240848,0.225128,0.242910,0.233314
13,mse,0.152824,0.000948,0.151954,0.154063,0.151824,0.153371,0.152905
14,pr_auc,0.869204,0.002339,0.871793,0.867197,0.871340,0.866640,0.869050
15,precision,0.762397,0.009749,0.771869,0.754580,0.771743,0.750515,0.763280
16,r2,0.380113,0.004583,0.383730,0.374511,0.385281,0.376550,0.380490
17,recall,0.879870,0.013084,0.869179,0.886338,0.870937,0.899907,0.872989
18,rmse,0.390925,0.001213,0.389812,0.392508,0.389646,0.391627,0.391031
19,specificity,0.652074,0.028017,0.674941,0.631966,0.678808,0.614272,0.660382

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2024-09-18 20:08:42,51.828 sec,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2024-09-18 20:08:42,52.021 sec,1.0,0.431604,1.276910,0.793077,0.748604,1.664640,0.261415
2,,2024-09-18 20:08:42,52.116 sec,2.0,0.420839,1.024460,0.815672,0.784243,1.701555,0.252605
3,,2024-09-18 20:08:42,52.205 sec,3.0,0.415567,0.834243,0.824025,0.795726,1.701951,0.246485
4,,2024-09-18 20:08:42,52.290 sec,4.0,0.412274,0.700021,0.828525,0.800436,1.697811,0.244720
5,,2024-09-18 20:08:42,52.366 sec,5.0,0.407043,0.622601,0.836932,0.813620,1.748948,0.241014
6,,2024-09-18 20:08:42,52.456 sec,6.0,0.403586,0.564867,0.842618,0.823288,1.799345,0.236999
7,,2024-09-18 20:08:43,52.533 sec,7.0,0.401840,0.534320,0.845431,0.827633,1.828501,0.235291
8,,2024-09-18 20:08:43,52.625 sec,8.0,0.399593,0.514961,0.849074,0.833271,1.832841,0.233463
9,,2024-09-18 20:08:43,52.705 sec,9.0,0.398397,0.503523,0.851077,0.836767,1.862401,0.232594
10,,2024-09-18 20:08:43,52.778 sec,10.0,0.397469,0.493886,0.852735,0.840284,1.890978,0.234846
11,,2024-09-18 20:08:43,52.858 sec,11.0,0.396389,0.488077,0.854380,0.843151,1.897334,0.228054
12,,2024-09-18 20:08:43,52.942 sec,12.0,0.395736,0.485157,0.855470,0.844989,1.924299,0.228386
13,,2024-09-18 20:08:43,53.027 sec,13.0,0.394979,0.482539,0.856659,0.846370,1.928540,0.227592
14,,2024-09-18 20:08:43,53.115 sec,14.0,0.394217,0.480440,0.857745,0.847934,1.926382,0.227144
15,,2024-09-18 20:08:43,53.185 sec,15.0,0.393775,0.479412,0.858462,0.849278,1.922217,0.226353
16,,2024-09-18 20:08:43,53.265 sec,16.0,0.393267,0.477546,0.859238,0.850224,1.918052,0.223604
17,,2024-09-18 20:08:43,53.331 sec,17.0,0.393083,0.476705,0.859650,0.851092,1.928465,0.221729
18,,2024-09-18 20:08:43,53.415 sec,18.0,0.392945,0.475655,0.859934,0.851721,1.936795,0.221448
19,,2024-09-18 20:08:43,53.489 sec,19.0,0.392608,0.475019,0.860444,0.852251,1.940960,0.223677

See the whole table with table.as_data_frame()

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0               To        231498.281250           1.000000    0.401411
1             From        149858.750000           0.647343    0.259850
2     VehicleClass         44878.093750           0.193859    0.077817
3          Vehicle         44656.800781           0.192903    0.077433
4            Price         33829.523438           0.146133    0.058659
5            month         25491.287109           0.110114    0.044201
6             Male         19464.052734           0.084079    0.033750
7    ReserveStatus         16570.201172           0.071578    0.028732
8          weekend          6100.379883           0.026352    0.010578
9   CouponDiscount          2439.777344           0.010539    0.004230
10          Cancel          1753.598999           0.007575    0.003041
11        Domestic           171.082382           0.000739    0.000297

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه داده آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [10]:
# evaluate model
from sklearn.metrics import  f1_score, classification_report, confusion_matrix
X_val_h2o = h2o.H2OFrame(X_val)
pred = model.predict(X_val_h2o).as_data_frame()
pred = pred['predict']
mapping = {'Int': 0, 'Work': 1}
pred = pred.map(mapping)
Y_val = Y_val.map(mapping)
print(f1_score(Y_val, pred))
print(classification_report(Y_val, pred))
print(confusion_matrix(Y_val, pred))

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%
0.8185946191395165
              precision    recall  f1-score   support

           0       0.79      0.71      0.75      6686
           1       0.79      0.85      0.82      8467

    accuracy                           0.79     15153
   macro avg       0.79      0.78      0.78     15153
weighted avg       0.79      0.79      0.79     15153

[[4746 1940]
 [1256 7211]]

c:\Users\user\Desktop\python\machine learning\qenv\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'From' has levels not trained on: ["Ø¯Ø´ØªÛŒ (Ø¨ÙˆØ´Ù‡Ø±)", "Ù�Ø±Ø§Ù†Ú©Ù�ÙˆØ±Øª", "ÙˆÙ†ÛŒØ²"]
  warnings.warn(w)
c:\Users\user\Desktop\python\machine learning\qenv\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'To' has levels not trained on: ["Ø¢Ø¨Ø¯Ø§Ù†Ø§Ù†", "Ø§Ø³Ù„Ø§Ù… Ø¢Ø¨Ø§Ø¯ ØºØ±Ø¨", "Ø¬ÙˆØ§Ù†Ø±ÙˆØ¯", "Ø¯Ù‡Ú¯Ù„Ø§Ù†", "Ø³Ù„Ø³Ù„Ù‡", "Ø³Ù¾ÛŒØ¯Ø¯Ø´Øª", "Ø¹Ù†Ø¨Ø±Ø¢Ø¨Ø§Ø¯", "Ù†Ø§ÛŒØ±ÙˆØ¨ÛŒ", "Ù¾Ø§Ø±ÛŒØ³"]
  warnings.warn(w)

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>75%</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|TripReason|دلیل سفر|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <i>submission</i> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>TripReason</i> است و ۴۳۲۹۳ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، مقادیر ستون <i>TripReason</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||TripReason|
|----|-----|
|0|Work|
|1|Work|
|2|Int|
|3|Int|
|4|Work|

</font>
</div>

In [15]:
# predict test samples
test_h2o = h2o.H2OFrame(test_data)
test_pr = model.predict(test_h2o).as_data_frame()
test_pr['TripReason'] = test_pr['predict']
submission = pd.DataFrame(test_pr['TripReason'])
submission

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
drf prediction progress: |███████████████████████████████████████████████████████| (done) 100%

c:\Users\user\Desktop\python\machine learning\qenv\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'From' has levels not trained on: ["Ø¨Ø§Ú©Ùˆ", "Ø¯Ø±Ú¯Ø²", "Ø¯Ø´ØªÛŒ (Ø¨ÙˆØ´Ù‡Ø±)", "Ø±Ù…", "Ø´Ø§Ø±Ø¬Ù‡", "Ù…Ù„Ø§Ø±Ø¯", "Ù…Ù‡Ø§Ø¨Ø§Ø¯", "Ù¾Ø§Ø±Ø³ÛŒØ§Ù†", "Ù¾Ø§Ø±ÛŒØ³"]
  warnings.warn(w)
c:\Users\user\Desktop\python\machine learning\qenv\lib\site-packages\h2o\job.py:83: UserWarning: Test/Validation dataset column 'To' has levels not trained on: ["Ø¢Ù…Ø³ØªØ±Ø¯Ø§Ù…", "Ø§Ø³Ù„Ø§Ù… Ø¢Ø¨Ø§Ø¯ ØºØ±Ø¨", "Ø§Ø´ØªÙˆØªÚ¯Ø§Ø±Øª", "Ø¨Ø®Ø§Ø±Ø³Øª", "Ø¨Ø±Ú¯Ø§Ù…Ùˆ", "Ø¨Ù‡Ø§Ø¨Ø§Ø¯", "ØªÚ©Ø§Ø¨ (Ø¢Ø°Ø±Ø¨Ø§ÛŒØ¬Ø§Ù† ØºØ±Ø¨ÛŒ )", "Ø±ÙˆØ¯Ø§Ù† (Ù‡Ø±Ù…Ø²Ú¯Ø§Ù† )", "Ø³Ù„Ø³Ù„Ù‡", "Ù�Ø§Ø±ÙˆØ¬", "Ù…ÙˆÙ†ØªØ±Ø¢Ù„", "Ù…ÛŒÙ„Ø§Ù†", "Ù†Ø§ÛŒØ±ÙˆØ¨ÛŒ", "ÙˆÛŒÙ†", "Ù¾Ø§Ø±ÛŒØ³", "Ù¾Ø±Ø§Ú¯"]
  warnings.warn(w)

      TripReason
0            Int
1            Int
2           Work
3           Work
4           Work
...          ...
43288       Work
43289       Work
43290       Work
43291       Work
43292       Work

[43293 rows x 1 columns]

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [16]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)
            
submission.to_csv('submission.csv', index=False)
file_names = ['tafrihi.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['tafrihi.ipynb', 'submission.csv']